# source: https://github.com/starkat99/appveyor-rust/blob/master/appveyor.yml
# source: https://github.com/japaric/rust-everywhere/blob/master/appveyor.yml

version: 0.1.0-build{build}

matrix:
  fast_finish: true

environment:
  PROJECT_NAME: auto-release-rs
  global:
    BINARY_NAME: auto-release
    REPO_USERNAME: guangie88
    REPO_NAME: auto-release-rs
    ARTIFACT_DIR: artifacts
  matrix:
  # Stable channel
  # - TARGET: i686-pc-windows-gnu
  #   CHANNEL: stable
  - TARGET: i686-pc-windows-msvc
    CHANNEL: stable
    ARTIFACT: true
    ZIP_SUFFIX: windows-x86
  # - TARGET: x86_64-pc-windows-gnu
  #   CHANNEL: stable
  - TARGET: x86_64-pc-windows-msvc
    CHANNEL: stable
    ARTIFACT: true
    ZIP_SUFFIX: windows-x86_64

  # Beta channel
  # - TARGET: i686-pc-windows-gnu
  #   CHANNEL: beta
  # - TARGET: i686-pc-windows-msvc
  #   CHANNEL: beta
  # - TARGET: x86_64-pc-windows-gnu
  #   CHANNEL: beta
  # - TARGET: x86_64-pc-windows-msvc
  #   CHANNEL: beta
    
  # Nightly channel
  # - TARGET: i686-pc-windows-gnu
  #   CHANNEL: nightly
  # - TARGET: i686-pc-windows-msvc
  #   CHANNEL: nightly
  # - TARGET: x86_64-pc-windows-gnu
  #   CHANNEL: nightly
  # - TARGET: x86_64-pc-windows-msvc
  #   CHANNEL: nightly

install:
- curl -sSf -o rustup-init.exe https://win.rustup.rs
- rustup-init.exe --default-host %TARGET% --default-toolchain %CHANNEL% -y
- set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
- rustc -vV
- cargo -vV
- if "%TARGET%"=="i686-pc-windows-gnu"
    cinst mingw --x86 -y &
    set "PATH=%PATH%;C:\tools\mingw32\bin" &
    gcc --version
- if "%TARGET%"=="x86_64-pc-windows-gnu"
    cinst mingw -y &
    set "PATH=%PATH%;C:\tools\mingw64\bin" &
    gcc --version
- echo %PATH%

build_script:
- cargo build --verbose

test_script:
- cargo test --all

before_deploy:
- if "%ARTIFACT%"=="true"
    cargo build --release --verbose &
    mkdir %ARTIFACT_DIR% &
    copy target\release\%BINARY_NAME%.exe %ARTIFACT_DIR%\

deploy:
  provider: GitHub
  release: "%BINARY_NAME%-%APPVEYOR_REPO_TAG_NAME%-%ZIP_SUFFIX%.zip"
  auth_token:
    secure: "njCwSow8gtsplARSx0TLiQRB29GHALM67ClkPuE6Z8JbTR6A3k4UKDcUuJE4WK9C"
  artifact: '%ARTIFACT_DIR%\*.exe'
  draft: false
  prerelease: false
  on:
    branch: master 

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+(-\S*)?$/
